# COPR specific
.copr
.coprCopyright

# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
.data/content
dist

# Node dependencies
node_modules
.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarnrc.yml
.pnp.*

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*

# Python
.venv
build
*.egg-info
.pytest_cache

# Parcel
.parcel-cache

# COPR.js
/copr.js/dist
/copr.js/test/copr.min.js
/copr.js/test/copr.min.js.map

# COPR.py
/copr.py/MANIFEST
/copr.py/**/__pycache__
/copr.py/build
/copr.py/cache
/copr.py/dist
/copr.py/copr/__info__.py
/copr.py/copr/**/*.pyc
/copr.py/copr.egg-info
/copr.py/.pytest_cache
/copr.py/.coverage

